<div class="login_container">
  <p class="login_subheader">Login</p>
  <form [formGroup]="loginForm" class="login_form form">
    <div class="form-control_wrapper">
      <label for="auth-login">login</label>
      <input
        type="email"
        name="auth-login"
        id="auth-login"
        required
        formControlName="login"
      />
      <div
        *ngIf="login?.invalid && (login?.dirty || login?.touched)"
        class="error-message"
      >
        <div *ngIf="login?.errors?.['required']">
          Please enter a login email
        </div>
        <div *ngIf="login?.errors?.['email']">The login email is invalid.</div>
      </div>
    </div>
    <div class="form-control_wrapper">
      <label for="auth-password">password</label>
      <input
        type="password"
        name="auth-password"
        id="auth-password"
        required
        formControlName="password"
      />
      <div
        *ngIf="password?.invalid && (password?.dirty || password?.touched)"
        class="error-message"
      >
        <div *ngIf="password?.errors?.['required']">
          Please enter a password
        </div>
        <div *ngIf="password?.errors?.['strongPassword']">
          Your password isn't strong enough: {{password?.errors?.['strongPassword'].message}}
        </div>
      </div>
    </div>
    <app-button [type]="'submit'" [disabled]="!loginForm.valid" (click)="onLogin($event)" *ngIf="!isLoggedIn"
      >Login</app-button
    >
    <app-button [type]="'submit'" [disabled]="false" (click)="onLogout($event)" *ngIf="isLoggedIn"
      >Logout</app-button
    >
  </form>
</div>
