<header>
  <div class="header_container">
    <div class="header_search">
      <app-logo></app-logo>
      <div class="search-field">
        <input type="text" id="search-input" [placeholder]="placeholder" #searchInput (input)="search(searchInput.value)"/>
      </div>
      <app-button
        [type]="'button'"
        [disabled]="false"
        (click)="onClickSettings()"
        ><img
          src="assets/img/settings-button-icon.svg"
          alt="settings icon"
          class="icon"
      /></app-button>
    </div>
    <app-login-information></app-login-information>
    <div class="to-admin">
      <app-button
        [type]="'button'"
        [disabled]="false"
        (click)="hRouter.navigateByUrl('/admin')"
        >To admin page</app-button
      >
    </div>
  </div>
</header>
