<div class="sorting_block">
  <div class="sorting_container">
    <p class="sorting_name">Sorting by:</p>
    <div class="sorting_items">
      <p class="sorting_item"><button (click)="onClickSortByDate()">date</button></p>
      <p class="sorting_item"><button (click)="onClickSortByView()">count of views</button></p>
      <p class="sorting_item">
        <button (click)="onClickFilter()">by word or sentance</button><input type="text" id="sorting_input" [(ngModel)]="filterString" />
      </p>
    </div>
  </div>
</div>
