<div class="search_item">
    <div class="search_item_img"><img [src]="item.snippet.thumbnails.high.url" alt="thumbnails"></div>
    <div class="search_item_statistics">
        <div class="search_item_info">
            <img src="assets/img/viewed.svg" alt="viewed" class="icon">
            <span class="count">{{item.statistics.viewCount}}</span>
        </div>
        <div class="search_item_info">
            <img src="assets/img/liked.svg" alt="liked" class="icon">
            <span class="count">{{item.statistics.likeCount}}</span>
        </div>
        <div class="search_item_info">
            <img src="assets/img/dislike.svg" alt="disliked" class="icon">
            <span class="count">{{item.statistics.dislikeCount}}</span>
        </div>
        <div class="search_item_info">
            <img src="assets/img/commented.svg" alt="commented" class="icon">
            <span class="count">{{item.statistics.commentCount}}</span>
        </div>
    </div>
    <p class="search_item_title">{{item.snippet.title}}</p>
    <app-button [type]="'button'" [disabled]="false" [routerLink]="['/youtube', item.id]"><span>more...</span></app-button>
    <div class="search_item_bottom" [appSetColor]="date">
    </div>
</div>
